body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://cdn.radiofrance.fr/s3/cruiser-production/2019/03/2a0ecc7b-457d-4492-b817-65771b99dc08/1136_0988681.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg),
    no-repeat;
  color: white;
}
button {
  width: 100%;
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
