body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: URL(https://i.pinimg.com/originals/0e/0f/9a/0e0f9a113ab39082226e71fbbcab3a31.jpg),no-repeat,100%;

  color: white;
  line-height: 2rem;
}
.nav-bar {
  cursor: none;
}
.card {
  width: 60%;
  margin-top: 10%;
  margin-left: 11%;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 2rem 4rem 4rem 4rem;
}
.btn {
  padding-bottom: 4rem;
  font-size: 2rem;
  padding-top: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 100%;
}
.ecard {
  width: 60%;
  margin-top: 3%;
  margin-left: 12%;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 2rem 4rem 4rem 4rem;
  line-height: 5rem;
}
.sbtn {
  font-size: 2rem;
  margin-top: 4rem;
  border-radius: 10%;
  width: 20%;
}
.form-control {
  width: 80%;
  font-size: 2rem;
  margin-left: 5rem;
  margin-top: 2rem;
}
.zcard {
  width: 60%;
  margin-top: 10%;
  margin-left: 13%;
  border-radius: 3rem;
  font-size: 2rem;
  padding: 2rem 4rem 4rem 4rem;
  line-height: 5rem;
}
.zbtn {
  font-size: 2rem;
  border-radius: 10%;
  width: 50%;
}
.ebtn {
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 10%;
  width: 30%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
